body {
  background-color: rgb(73, 83, 93);
  color: white;
}

.error-modal {
  background-color: salmon;
  color: black;
  border: 2px solid rgb(186, 0, 0);
}

.error-url {
  color: rgb(93, 0, 0);
}

.bio-p {
  text-align: justify;
  text-justify: inter-word;
}

.project-description {
  text-align: justify;
  text-justify: inter-word;
}

#api-version {
  color: #18113d;
}

#api-version:hover {
  font-weight: bold;
}

#api-link {
  text-decoration: none;
}
